

.exercises-swap-list {
  padding: 10px;
  background-color: #fafafa;
  border-radius: 20px;

  &__item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;

    & + div {
      margin-top: 4px;
    }
  }
}