
.my-div {


  & > div {
    display: flex;
    gap: 15px;
  }
}

.my-div__item {
  padding: 20px;
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.my-text {
  & > div {
    display: inline-block;
  }
}