@import "src/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

.ant-layout {
  background: #f5f5f5;
}

#root {
  height: 100%;
}

.content-block {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
}

.w-s-n {
  white-space: nowrap;
}

input:-webkit-autofill {
  background-color: #fff !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: #333;
}

.u-fancy-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.u-fancy-scrollbar::-webkit-scrollbar-button:end:increment,
.u-fancy-scrollbar::-webkit-scrollbar-button:start:decrement {
  background: transparent;
  display: none;
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
  background: #cfd8e3;
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:start {
  border-radius: 4px 4px 0 0;
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:end {
  border-radius: 0 0 4px 4px;
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
  border-radius: 4px 0 0 4px;
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
  border-radius: 0 4px 4px 0;
}

.u-fancy-scrollbar::-webkit-scrollbar-thumb:horizontal,
.u-fancy-scrollbar::-webkit-scrollbar-thumb:vertical {
  background: #97a6ba;
  border-radius: 4px;
  display: block;
  height: 48px;
}

.ant-popover {
  z-index: 1000;
}

.add-entity-block {
  cursor: pointer;
  padding: 16px;
  text-align: center;
  background-color: $gray;
  font-size: 18px;
  border-radius: 10px;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $grayHover;
  }

  &__icon {
    font-size: 25px;
  }
}

.m-b-16 {
  margin-bottom: 16px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;

  & > div, & > button {
    margin-left: 10px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div, & > button {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.flex-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions-save-panel {
  &.active {
    margin-top: 100px;

    .actions-save-panel__in {
      bottom: 0;
    }
  }

  &__in {
    position: fixed;
    bottom: -100px;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 -6px 16px 0 rgba(0, 0, 0, 0.08), 0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -9px 28px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s;

    .custom-btn {
      min-width: 200px;
    }
  }
}

/* MAIN-CONTENT */

.main-content {

}

.exercise-hints-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > div, button {
    margin-left: 15px;
  }

  .ant-switch {
    margin-left: 15px;
  }
}

.exercise-item {
  margin-bottom: 30px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fafafa;

    &__in {
      display: flex;
      align-items: flex-start;
      font-weight: bold;
      font-size: 22px;
      margin-right: 10px;

      &__number {
        margin-right: 10px;
        padding: 0 10px;
        line-height: 34px;
        background-color: #8799d9;
        color: #fff;
        border-radius: 4px;
      }
    }
  }

  &__body {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__notes {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #e59846;
    background-color: #fdeede;
    border-radius: 8px;
    font-size: 14px;
    white-space: pre-wrap;
  }
}

/* COURSE */

.course-details {
  width: 100%;

  &__head {
    display: flex;
    gap: 20px;
    padding: 16px;
    margin-bottom: 16px;

    &__img {
      line-height: 0;
      width: 150px;
      margin-right: 15px;

      img {
        max-width: 100%;
        border-radius: 20px;
      }
    }

    &__name {
      display: flex;
      align-items: center;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    &__desc {
      display: flex;
      font-size: 18px;
      white-space: pre-wrap;
    }

    &__actions {
      display: flex;
      align-items: flex-start;
      margin-left: auto;

      .custom-btn {
        margin-left: 10px;
      }
    }
  }

  &__chapters {
    padding: 16px;

    &__name {
      display: flex;
      justify-content: space-between;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 20px;

      & > div {
        .custom-btn {
          margin-left: 10px;
        }
      }
    }

    &__order-mode {
      padding: 15px 15px 5px;
      margin-bottom: 20px;
      border-radius: 20px;
      background-color: #e1e4e9;

      .course-details__chapters__list {
        margin-bottom: 0;
      }
    }

    &__list {
      margin-bottom: 20px;

      .ant-collapse-content-box {
        padding: 0;
      }

      & > div > div {
        margin-bottom: 10px;

        &:active {
          .course-details__chapters__list__item {
            background-color: $gray;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
          }
        }
      }

      .custom-collapse {
        .ant-collapse-item-active {
          .course-details__chapters__list__item {
            background-color: $gray;
          }
        }
      }

      &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 10px 20px;
        border: 1px solid $gray;
        border-radius: 6px;
        transition: background-color .3s ease-in-out;
        background-color: #fff;

        &:hover {
          background-color: $gray;
        }

        &__name {
          font-size: 18px;
          font-weight: 600;
        }

        &__drag {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 20px 0 auto;
        }
      }
    }
  }
}

.chapter-lessons-wrap {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #f5f5f5;

  h2 {
    margin: 0;
  }
}

.chapter-lessons {
  margin-top: 8px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;

    &__name {
      flex-grow: 1;
      cursor: pointer;
      transition: color .3s ease-in-out;
      color: $text;

      &:hover, &.active {
        color: $primaryColor;
      }
    }

    & + div {
      margin-top: 8px;
      border-top: 1px solid $gray;
    }
  }
}

.result-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
  }

  &__body {
    color: $text;

    span {
      display: block;
      padding-top: 5px;
      font-size: 21px;
    }
  }

  &__status {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
    color: $success;

    &.good {
      color: $orange;
    }

    &.bad {
      color: $danger;
    }
  }
}

.uploadPhoto {

  .ant-upload-select-picture-card {
    overflow: hidden;
  }

  &.has-photo {
    .ant-upload {

      .ant-upload {
        position: relative;

        &:hover {
          &:after {
            opacity: 0.3;
          }
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: #000;
          opacity: 0;
          transition: opacity .2s ease-in-out;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.folder-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;

  &__right {
    display: flex;

    .custom-btn {
      margin-left: 10px;
    }
  }

  h1 {
    margin: 0;
    font-size: 22px;
  }
}

.audio-uploader {
  .ant-upload-list-item-actions {
    & > a {
      display: none;
    }

    & > .ant-btn {
      padding: 0;
      width: auto;
    }
  }
}