@import "src/styles/variables.scss";

.words__exercise-types {
  &__item {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: $gray;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
    text-align: center;
    font-size: 20px;

    &.active {
      background-color: $success;
      color: #fff;
    }

    &:not(.active):hover {
      background-color: $grayHover;
    }
  }
}