
.start-lesson-modal {
  .ant-modal-content {
    height: 100%;
  }

  .custom-modal__footer {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .ant-steps-item-icon {
    width: 48px;
    height: 48px;
    line-height: 48px;
  }
}