
.folder-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;

  h1 {
    margin: 0;
    font-size: 22px;
  }
}

.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      line-height: 0;
      margin-bottom: 10px;
      height: 250px;

      img {
        width: 178px;
        height: auto;
      }
    }

    &__name {
      font-size: 16px;
    }
  }
}

.myStudents {
  &__item {
    display: flex;
    margin: 0 0 15px;

    &__name {
      margin-right: 10px;
    }
  }
}