.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    width: 150px;
    cursor: pointer;

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      line-height: 0;
      margin-bottom: 10px;
      height: 200px;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
      }

      &__empty {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background: #fff url("src/assets/images/photo.svg") no-repeat center center;
      }
    }

    &__name {
      text-align: center;
      font-size: 16px;
    }
  }
}