@import "src/styles/variables.scss";

.notifications-list {
  &__item {
    margin-bottom: 8px;
    border-radius: 6px;
    padding: 10px 15px;

    &.new-notification {
      background-color: $primaryLight;
    }
  }
}